<h1>Available Gym Classes</h1>

<% @gymclass.each do |gymclass| %>
<p> Type: <%= gymclass.type %> </p>
<p> Instructor <%= gymclass.instructor() %></p>

<p></a href = "gymclass/<%=gymclass.id %>">Show Further Info</a></p>
</hr>

<% end %>
