<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tolo Fitness</title>
  </head>

  <body>
    <section class="wrapper">
      <header> Tolo Fitness</header>

      <nav>
        <ul>
          <li>
            <a href="/gymclasses">All Gym Classes</a>
          </li>
          <li>
            <a href ="/gymclasses/new">Create New Class</a>
          </li>
        </ul>
      </nav>

      <main>
        <%=yield%>
      </main>

      <footer>&tolo fitness 2018</footer>
    </section>

  </body>
</html>
