<form method="post" action="/gymclass">
  <label for ="type-field">Type:</label>
  <select
  type = "text"
  name = "type"
  id="type_field">
  <option value ="bootcamp">Bootcamp</option>
  <option value ="kettlebells">KettleBells</option>
  <option value ="ladies who lift">Ladies Who Lift</option>
  <option value ="circuits">Circuits</options>
</select>

<label for="instructor-field"> Instructor:</label>
<select
type="text"
name="type"
id="instructor-field">
<option value="thomas">Thomas</option>
<option value="sam">Sam</option>
<option value="jonny">Jonny</option>
</select>
