
<form method="post" action="/gymclasses">
  <label for ="type-field">Type:</label>
  <input
  type = "text"
  name = "type"
  id="type_field">

</input>
<br />


<br />

<label for="instructor-field"> Instructor:</label>
<select
type="text"
name="instructor"
id="instructor-field">
<option value="thomas">Thomas</option>
<option value="sam">Sam</option>
<option value="jonny">Jonny</option>
</select>

<input type="submit" value ="Submit">
</form>
