<p>Type: <%=@gymclass.type%> </p>
<p>Instructor: <%=@gymclass.instructor%></p>

<a href="/gymclasses/<%= @gymclass.id %>/edit">Edit Details</a>

<form method="post" action="/gymclasses/<%=@gymclass.id%>/delete">
  <input type="submit" value="Delete"/>
</form>
