<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tolo Fitness</title>

<link rel="icon" href="/images/logo.jpeg" />
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">

  </head>
  <body>
<main class="flex flex--row">
<div class="vertical-menu">

  <a href="/">Home</a></li>
  <a href="/clients">Clients</a>
  <a href="/gymclasses">Classes</a>
  <a href="/bookings">Bookings</a>
  <a href="/trainers">Staff </a>
</div>

<selection id="content">
  <%=yield%>
</selection>
</main>
  </body>


</html>
