<h1>Bookings</h1>


<p class="btn--wrapper">
  <a class="btn btn--action" href="bookings/new">New Booking</a>
</p>

<ul>
  <% for booking in @bookings %>
  <li>
    <p> <%= Client.find(booking.client_id).full_name %> : <%= GymClass.find(booking.gymclass_id).type%></p>

      <form action="/bookings/<%=booking.id%>/delete" method="POST">
        <input class="btn--danger" type="submit" value ="delete" />
      </form>

  </li>
  <% end %>
</ul>
