<h1>Bookings</h1>


<!-- button to add new booking -->
<p class="btn--wrapper">
  <a class"btn btn--action" href ='bookings/new'> New Booking!</a>
</p>

<!-- view all active bookings and clients attending active bookings -->
