<h1>New Bookings</h1>


<form action= "/bookings" method ="post">
  <label>
    Select a Client:
    <select name="client_id">
      <% for client in @client%>
      <option value="<%= client.full_name%>"><%=client.full_name %></option>
        <%end%>
      </select>
    </label>

    <label>
      Select a Class:
      <select name="gymclass_id">
        <% for gymclass in @gymclass%>
        <option value="<%=gymclass.type%>"><%=gymclass.type %></option>
        <%end%>
      </select>
    </label>

    <input class "btn btn--action" type=submit value="Book">
  </form>
