input[type="submit"] {
  font-family:serif;
}

select {
  width: 200px;
 padding: 10px 35px 10px 20px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
 font-family: 'serif', serif;
 border: 1px solid #eee;
 display: block;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
