body{
  background: black url('/images/ToloFitness_background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: Georgia, serif;
  padding: 0px;
  margin: 0px;
}

.image {
  background-color: black;
  width:100%;
  height:95%;
  margin-top: -7.5em;
  margin-left: -2.5em;
  border: 500px solid black;
  border-width: thick;
}

.header{
  font-size: 3.7em;
  font-family: 'Tattoo Ink';
  text-align: center;
  color: white;
  margin-bottom: 20px;
  margin:  10px 50px 20px 0;
  background-color: #000;
  border: 10px solid black;

}


h1, h2, h3, h4, h5, h6{
  font-family: serif;
  margin: 0px;
  padding: 0px;
  color: white;
}



h1{
  font-size: 3.0em;
  font-family: 'Tattoo Ink';
  color: white;
  margin-bottom: 20px;
  margin:  10px 50px 20px 0;
}
/* h2{
  font-size: 1em;
  font-family: serif;
  color: white;
  margin-bottom: 20px;
  margin:  10px 50px 20px 0;
margin-left: 1em;
margin-top: 1em;
} */

a, a:link{
  color: rgb(66, 167, 244);
}

a:visited{
  color: rgb(66, 167, 244);
}

a:hover{
  color:yellow;
}

nav{
  padding:0px;
  margin:0px;
  padding-right: 5px;
  color: white;
  padding-top: 20px;
  margin-top: 20px;
}

nav ul li{

    list-style-type: none;
    display: block;


}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
border-radius: 5px;

}

.vertical-menu a:hover {
    background-color: rgb(66, 167, 244);
    transition: 0.5s;

}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}


main{
  padding: 15px;
  }

.flex{
  display: flex;
}

.flex--row{
  flex-direction: row;
}

#content{
  border-left:1px rgb(66, 167, 244);
  padding-left: 7%;
  background-color: rgba(0, 0, 0,0.25);

}

figure {
  border: thin #c0c0c0 solid;
  display: inline-block;
  flex-flow: column;
  margin: 0;
  padding: 5px;
}

figcaption {
  background-color: black;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: left;
}


footer{
  color:white;
}
