body{
  background: black url('/images/ToloFitness_background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: Georgia, serif;
  padding: 0px;
  margin: 0px;

}

h1, h2, h3, h4, h5, h6{
  font-family: serif;
  margin: 0px;
  padding: 0px;
  color: white;

}

h1{
  font-size: 3.0em;
  font-family: 'Tattoo Ink';
  color: white;
 margin-bottom: 20px;
 margin:  10px 50px 20px 0;;
}

a, a:link{
  color: rgb(66, 167, 244);
}

a:visited{
  color: rgb(66, 167, 244);
}

nav{
  padding:0px;
  margin:0px;
  padding-right: 5px;
  color: white;

}

nav ul li{
  margin-bottom: 15px;
  margin: 0px;
}



main{
  padding: 15px;

}

.flex{
  display: flex;
}

.flex--row{
  flex-direction: row;
}

#content{
  border-left:1px rgb(66, 167, 244);
  padding-left: 7%;
  background-color: rgba(0, 0, 0,0.25);

}
