<h1> Tolo Fitness Staff Members</h1>
<% @trainer.each do |trainer|%>

<p> Name: <%= trainer.name %></p>
<p> Job Title: <%= trainer.job_title %></p>
<p> Specialty: <%= trainer.specialty %></p>


<hr />

<%end%>
