<h1> Jonny McCandless </h1>

<figure>
    <img src="/images/jonny1.jpg" height= '300' width='300' alt="jonny1" />
    <video width = "300" height= "300" controls>
    <source src="/images/jonny.mp4"/>
  </video>
    <img src="/images/jonny2.jpg" height= '300' width='300' alt="jonny2" />
  <figcaption>
<p style="white-space:pre">

  Do you need a Personal Trainer and is it worth it?
  A PT can provide you with the guidance and knowledge within the gym to help you get the results you want.
  My job is to search for ways to push you and help you challenge yourself to really make a difference to your training.
  This brings a fresh perspective to your workouts to make them fun and enjoyable but equally challenging.

  Don’t know where to start or bored? Let’s change that, my aim is to create new and fun sessions to help you push yourself and work hard.
  This means focusing on you to construct a programme with exercises and various training methods to get the most out of your sessions.
  My goal is to educate you and make you aware of different training methods and techniques to improve your training and help you to
  maintain and achieve your goals.

  Fitness has always been a main interest in my life and I am keen on helping others to feel the same.
  When it comes to reaching your goals, I know it can be difficult and how important motivation can be which I am there to create and provide.
  So, whatever your goals are, together we can work hard and help you achieve them.
</p>
</figcaption>
</figure>

<p> Contact Tolo gym to book a consoltation with Jonny</p>
