<h1> Sam McPhearson </h1>

<figure>
    <img src="/images/Samwithcat.jpg" height= '300' width='300' alt="samcat" />
    <video width = "300" height= "300" controls>
    <source src="/images/sambench.mp4"  />
  </video>
    <img src="/images/samlift.jpg" height= '300' width='300' alt="samlift" />
  <figcaption>
    <p style="white-space:pre">
      If something is worth doing, then it won't be easy. However, the journey can be just as rewarding as the destination.
      Training with with me will be just that: fun, challenging and empowering.
      Whether your goals are losing weight, getting stronger or just feeling and looking badass
      I can guarantee together we will achieve them.

      I use a mixture of Strength Training and High Intensity Cardio in my sessions which has proved highly effective and successful.
      Being and feeling strong reflected positively on my perception of myself inwards and more importantly, outwards.
      Helping people feel the same thing is why I love my job!

      Strength training and exercise can help survivors of trauma and people with mental health conditions which
      is an area I also specialise in.

      curious? get in touch

    </p>
  </figcaption>
  </figure>

  <p> Contact Tolo Gym to book a consultation with Sam</p>
