<h1> Thomas Crawford </h1>
<figure>
    <img src="/images/tolofitness.jpg" height= '250' width='250' alt="tolofit" />
    <video width = "400" height= "250" controls>
    <source src="/images/burpeestolo.mp4"/>
  </video>
    <img src="/images/toloteam.jpg" height= '250' width='250' alt="toloteam" />
  <figcaption>
<p style="white-space:pre">
  You! Yes, you. I would like to help you start and maintain a healthy lifestyle through exercise and nutritional guidance.
  Everything will be designed around you or your training group. I aim to keep exercise as fun and interactive as possible
  i.e. intense enough that you'll remember me the next day.

  As a Personal Trainer I like to focus on strength conditioning training, hypertrophy training, full bodyweight training,
  functional training, interval based training,flexibility and mobility training.

If you're interested in pushing yourself and reaching your goals contact me and we’ll get you started. We can arrange a
free consultation, which includes a free session, for me to understand your goals and for you to know more about my training style.
I'm looking forward to hearing from you.

Heads up: I’m a stickler for technique, and by the way, I tend to swear a lot (Scottish passion).

</p>
</figcaption>
</figure>

<p> Contact Tolo Gym to book a consultation with Thomas</p>
